@import url('./root.css');

.container {
  width: 512px;
  max-width: 86em;
  background: lightgray;
  margin: 0 auto;
  height: 480px;
  background-image: url(./../images/background.jpg);
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#canvas {
  background: tan;
  margin: 0 auto;
  width: 512px;
  height: 512px;
  padding: 0;
}

.buttons-canvas {
  left: 0;
  top: 0;
  position: absolute;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: none;
  color: black;
  background-color: lightcyan;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
}
