@import url('./root.css');
.container {
  width: 512px;
  max-width: 70em;
  background: lightgray;
  margin: 0 auto;
  height: 480px;
  background-image: url(./../images/background.jpg);
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-back {
  text-decoration: none;
  color: whitesmoke;
  background: lightslategray;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid lightblue;
  border-radius: 0.2em;
  position: absolute;
  top: 1em;
  left: 1em;
  /*transform: translateX(1em);*/
  /*transform: translateY(1em);*/
}

#startGame {
  top: 5em;
  left: 1em;
}

#canvas {
  background: tan;
  margin: 0 auto;
  width: 512px;
  height: 480px;
  padding: 0;
}