@import url('./root.css');
.container {
  width: 100%;
  max-width: 70em;
  background: lightgray;
  margin: 0 auto;
  height: 100vh;
  background-image: url(./../images/1.jpg);
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-back {
  text-decoration: none;
  color: lightgray;
  box-sizing: border-box;
  padding: 0.5em;
  border: 1px solid lightblue;
  border-radius: 0.2em;
  position: absolute;
  top: 1em;
  left: 1em;
  /*transform: translateX(1em);*/
  /*transform: translateY(1em);*/
}

.rules {
  width: 100%;
  max-width: 70em;
  height: 100vh;
  color: lightgray;
  text-align: center;
  box-sizing: border-box;
  padding: 10em;
  line-height: 2em;
}