@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica sans-serif;
}

.container {
  width: 100vw;
  max-width: 86em;
  background: lightgray;
  margin: 0 auto;
  height: 100vh;
  padding: 0;
  box-sizing: border-box;
  background: no-repeat center bottom/cover url('./../images/background.jpg');
  position: relative;
}

.gameName {
  height: 5em;
  width: 100%;
  line-height: 5em;
  text-align: center;
  box-sizing: border-box;
  font-size: 3em;
  color: darkgray;
}

.menu-list {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  box-sizing: border-box;
}

.menu-item {
  padding-left: 1em;
  margin: 0;
}

.buttons {
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: none;
  color: black;
  background-color: lightcyan;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.rules {
  width: 100%;
  max-width: 86em;
  height: 80vh;
  color: lightgray;
  text-align: left;
  box-sizing: border-box;
  padding: 10em;
  line-height: 2em;
}

#canvas {
  padding: 0;
  margin: auto auto;
  width: 55vw;
  height: 90vh;
  background: no-repeat center/cover url('../images/canvas-background.jpg');
}

.buttons-canvas {
  left: 0;
  top: 20em;
  position: absolute;
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.1em;
  color: black;
  background-color: lightcyan;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
}

.buttons-canvas-2 {
  top: 15em;
}

.controll-container {
  position: absolute;
  left: calc(50% - 0.75em);
  bottom: 10%;
}

.touchButton {
  box-sizing: border-box;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  text-align: center;
  color: black;
  line-height: 1.5em;
  border-radius: 25%;
  background: #fff;
  opacity: 0.5;
}

#score {
  width: 10em;
  height: 2em;
  position: absolute;
  top: 0;
  left: 16em;
  background: lightcyan;
}

#timer {
  width: 10em;
  height: 2em;
  position: absolute;
  top: 0;
  left: 5em;
  background: lightcyan;
}

.container-canvas {
  display: flex;
}

.tableRecords {
  width: 60%;
  margin: 0 auto;
  border: 1px solid lightblue;
  font-size: 1.5em;
}

.table-cell {
  color: white;
  text-align: center;
}

th {
  border-bottom: 1px solid lightblue;
}
