@import url('./root.css');
.container {
  width: 100%;
  max-width: 85em;
  background: lightgray;
  margin: 0 auto;
  height: 100vh;
  background-image: url(./../images/background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gameName {
  height: 5em;
  width: 100%;
  line-height: 5em;
  text-align: center;
  box-sizing: border-box;
  font-size: 3em;
  color: darkgray;
}

.menu-list {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  box-sizing: border-box;
}

.menu-item {
  padding-left: 1em;
  margin: 0;
}

.buttons {
  box-sizing: border-box;
  padding: 0.5em 1em;
  border: none;
  color: black;
  background-color: lightcyan;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  transition: 0.5s;
}

/*.pages:hover {*/
  /*border: 1px solid lightblue;*/
/*}*/