@import url('./root.css');
.container {
  width: 100%;
  max-width: 85em;
  background: lightgray;
  margin: 0 auto;
  height: 100vh;
  background-image: url(./../images/background.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gameName {
  position: absolute;
  height: 5em;
  width: 100%;
  line-height: 5em;
  text-align: center;
  box-sizing: border-box;
  font-size: 3em;
  padding-top: 2em;
  color: darkgray;
}

.menu-list {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  box-sizing: border-box;
}

.menu-item {
  padding-bottom: 1em;
  margin: 0;
}

.pages {
  font-size: 1em;
  box-sizing: border-box;
  padding: 0.5em;
  text-decoration: none;
  color: lightgray;
}

.pages:hover {
  border: 1px solid lightblue;
}